.proj_con {
    max-width: 1170px;
    height: 900px;
    margin: 0 auto;
    overflow: hidden;

    & .proj_title {
        margin-top: 45px;
        text-align: center;
        font-size: 32px;
        font-weight: bold;
    }

    & .proj_list{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;

        & .proj_items{
            margin-top: 60px;

            & img {
                width: 300px;
                height: 300px;
                border-radius: 20px;
                object-fit: cover;
                transition: transform 0.3s ease;
            }
            
            &:hover img {
              transform: scale(1.03);
            }

            & p {
                font-size: 16px;
                font-weight: bold;
                margin: 10px 0 ;
            }
        }
    }

}

@media screen and (max-width: 480px) {

    .proj_con {
        height: auto;
        margin: 30px 0;

        & .proj_list{
            grid-template-columns: 1fr;
            padding: 20px;

            & .proj_items{
                width: 100%;

                & img {
                    width: 100%;
                }
            }
        }
    }
    
}