.contact_wrapper{
    height: 400px;
    background-color: #0085ff;
    color: aliceblue;
    overflow: hidden;

    & .contact_con{
        max-width: 1170px;
        margin: 50px auto 0;
        display: flex;
        justify-content: space-between;

        & .contact_info {
            width: 420px;

            & h3{
                font-size: 32px;
                font-weight: bold;
                margin-bottom: 20px;
            }

            & .contact_desc, .contact_address {
                margin-bottom: 20px;

            }
        }
    }
}

@media screen and (max-width: 480px) {
    .contact_wrapper{
        height: auto;

        & .contact_con {
            flex-direction: column;

            & .contact_info {
                width: 100%;
                padding: 20px;
            }
        }
    }
    
}