/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Hide default mouse cursor (AnimatedCursor replaces it) */
  body {
    cursor: none;
  }
  
  /* Make sure modals also use animated cursor */
  .modal_overlay,
  .modal_box {
    cursor: none;
  }
  